<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>

  <body>
    <div class="container">
      <header id="header">
     
      </header>
      <hr />
      <main role="main">
        <div class="container w-75 m-auto mt-5">
            <h1 class="display-4 p-4 text- text-center font-weight-bold"><strong>Generate <span class="text-success">Content</span> with <span class="text-primary">AI</span></strong></h1>
            <form class="d-flex justify-content-center p-4">
                <div class="form-group w-75">
                    <input type="text" class="form-control" id="textInput" name="prompt" placeholder="Type your prompt here" required>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
            <div id="content"></div>
        </div>
    </main>
        <hr />
        <div id="footer"> </div>       
      
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/partials.js"></script>
    <script src="js/ai.js"></script>
  </body>
</html>
